# Entornos virtuales de Python
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Archivos compilados y caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Directorio de compilación de MkDocs
site/

# Archivos del sistema y de editores (IDE)
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~
